*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

/* ============BOTTOM LEFT SIDE================= */
.left_side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 83vh;
    margin-left: 5%;
    font-size: 35px;
}
/* ==========contact messages============= */
.left_side .contact_messages{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}
.left_side p{
    text-align: center;
    padding: 30px 0;
    color: white;
}
.contact_messages .new_messages{
    width: 45%;
    height: 100%;
    background-color:#B84004;
    border-radius:5%;
}
.contact_messages .total_messages{
    width: 45%;
    height: 100%;
    background-color:  #8F92B6;
    border-radius:5%;
}
/* =========articles=================== */
.left_side .articles_published{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;

}
.articles_published .total_articles{
    width: 45%;
    height: 100%;
    background-color:  #8F92B6;
    border-radius:5%;
}
.articles_published .new_article_comments{
    width: 45%;
    height: 100%;
    background-color:  #8F92B6;
    border-radius:5%;
}

/* ==================users==================== */
.left_side .registered_clients{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
}
.registered_clients .total_standard_users{
    width: 45%;
    height: 100%;
    background-color:  #8F92B6;
    border-radius:5%;
}
.registered_clients .active_users{
    width: 45%;
    height: 100%;
    background-color: #8F92B6;
    border-radius:5%;
}


/* ===============BOTTOM RIGHT SIDE================= */
.right_side{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 50%;
    height: 83vh;
}

/* ==========Top 5 read articles============= */
.right_side .top_articles{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 55%;
}
.top_articles .art_title{
    width: 90%;
    height: 15%;
    background-color:#708090;
    text-align: center;
    font-weight: bold;
}
.top_articles .articlee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #DCDCDC;
    padding-left: 10px;
    padding-right: 10px;
}

.articlee .a_col1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8%;
    height: 10%;
}
.articlee .a_col2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 10%;
}
.articlee .a_col3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
    height: 10%;
}

/* =======Top 3 recent contact messages=======  */

.right_side .recent_contact_messages{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40%;
}
.recent_contact_messages .mes_title{
    width: 90%;
    height: 15%;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: bold;
}
.recent_contact_messages .messagee{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 100%;
    background-color: #DCDCDC;
    padding-left: 10px;
    padding-right: 10px;
}
.messagee .m_col1{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    width: 10%;
    height: 25%;
}
.messagee .m_col2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    height: 25%;
}
.messagee .m_col3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 25%;
}

@media only screen and (max-width:1418px){
    .nav_top{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 100%; 
        font-size: 1.3em;
        padding-top: 2em ;
        padding-bottom: 2em;
    }
    .nav_top .dashboard_btn{
        width: 5em;
        height: 1.7em;
        font-size: 1.4em;
    }
    .nav_top img{
        display: none;
    }
    .nav_top p{
        line-height: 2.4em;
    }
    .section_bottom{
        display: flex;
        flex-direction: column;
    }
    /* ==LEFT SIDE OF BOTTOM== */
    .left_side{
        display: flex;
        font-size: 1.5em;
        width: 78%;
        margin: 2em;
    }
    .left_side .contact_messages{
        height: 9em;
        padding-bottom: 1em;
    }
    .left_side .articles_published{
        height: 9em;
        padding-bottom: 1em;
    }
    .left_side .registered_clients{
        height: 9em;
        padding-bottom: 1em;
    }
 /* ==RIGHT SIDE OF BOTTOM== */
 .right_side{
    display: flex;
    width: 87%;
    font-size: 1.4rem;
    margin-top: 4em;
    font-size: 1.2rem;
}

}
 
@media only screen and (max-width:845px){
    .right_side .top_articles{
        font-size: 1rem;
    }
    .right_side .recent_contact_messages{
        font-size: 1rem;
    }
}  

@media only screen and (max-width:670px){
    .nav_top{
        width: 50%;
        font-size: 1rem;
    }
    input[type=text]{
        width: 10rem;
    }
    .left_side{
        font-size: 0.9rem;
        width: 70%;
    }
    .left_side .contact_messages{
        height: 9em;
    }
    .left_side .articles_published{
        height: 9em;
    }
    .left_side .registered_clients{
        height: 9em;
    }
    .right_side{
        margin: 0.1em 0 0.1em 0;
}   
    .right_side .top_articles{
        font-size: 0.5em;
        line-height: 1.2rem;
        height: 30%;
    }
    .right_side .recent_contact_messages{
        font-size: 0.5em;
        line-height: 1.2rem;
        height: 30%;
    }
}  

