.about_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20%;
}
.about_txt .about_txt_head{
    font-size: 2.7em;
    font-weight: bold;
    border-left: 0.3em solid #801843;
    padding: 0.4em 0 0.3em 0.4em;
    top:3em;
    position: absolute;
}
.about_txt .about_txt_parag{
    font-size: 1.7em;  
    top: 25rem;
    position: absolute;
    }
.social_media_and_join_btn{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    }
    .social_media_and_join_btn ul {
        list-style: none;
        line-height: 6em;
    }
    
    .hamburger_button {
        display: none;
        flex-direction: column;
        justify-content: space-between;
        position: absolute;
        top: 3em;
        right: 4em;
        width: 2em;
        height: 3em;
      }
      .hamburger_button .bar {
      height: 0.6em;
      width: 4.7em;
      background-color:  #801843;
      border-radius: 10px;
      }
    
  
