.Blog_posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: green;
}
/* ============================= */
.Post_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Post_title p{
    font-size: 50px;
}
.Post_photo_and_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.Date_pub_and_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Post_txt p{
    font-size: 1em; 
    
}
.Post_date_publisher p{
    font-size: 0.9em;  
    color:#801843;   
}
.Post_date_publisher .sp{
    font-weight: bold;  
}
.comment_btn{
    width: 300px;
    height: 70px; 
    border: none;
    color: white;
    text-decoration: none;
    font-size: 1.3em;
    border-radius: 15px;
    font-weight: bold;
    background-color: #801843;  
    box-shadow: 2px 2px 5px 2px  gray;
}


  /* RESPONSIVENESS BELOW
======================== */
@media only screen and(max-width:1000px){
   .comment_btn{
        width: 10em;
        font-size: 0.3em;
    }
}
@media only screen and(max-width:530px){
    .Post_title p{
        
        font-size: 1.3em;
    }
    .Date_pub_and_text .Post_txt p{
        font-size: 0.3em; 
    }
    .Post_photo_and_content .Post_photo{
        width: 50%;
    }
 }