:focus{
    outline: none;
}
.cPhoto img{
    width: 60px;
}
.logout{
    width: 70px;
    font-size: 18px;
    margin-right: 20px;
    display: none;
}				
.welcomeUser{
    font-size: 15px;;
}
#welcomeUser{
    font-size: 18px;;
}
.errorMessage{
    background-color: red;
}
.Blog_posts{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
/* ============================= */
.Post_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.Post_title p{
    font-size: 50px;
}
.Post_photo_and_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
.Date_pub_and_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.Post_txt p{
    font-size: 1em; 
    
}
.Post_date_publisher p{
    font-size: 0.9em;  
    color:#801843;   
}
.Post_date_publisher .sp{
    font-weight: bold;  
}
.comment_btn{
    width: 200px;
    height: 50px; 
    color: white;
    text-decoration: none;
    font-size: 1em;
    border-radius: 15px;
    font-weight: bold;
    background-color: #801843;  
    box-shadow: 2px 2px 5px 2px  gray;
    border : none;
}

.cContainer{
    display: flex;
    flex-direction: column;;
    justify-content: space-between;
    align-items: center;
   
}

.commentsInput{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.commentsOutput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* width: 70%; */
   
}
.commentContainer{
    display: flex;
    flex-direction: column;
     width: 700px;
     height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.cContent{
    margin-top: 7%;
    border-radius: 10%;
    overflow: scroll;
    resize: none;
}

.cDetails{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 1px solid gray;
    border-bottom: 3px solid gray;
    margin-left: 10px;
    box-shadow: 2px 2px 4px 2px lightgray;
}
.cDateClient{
    padding-bottom:10px;
    font-size: 0.7em;
    color: #801843;
   
}
.cDateClient span{
    font-weight: bold;
}

.replyContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.replyForm{
    overflow: scroll;
    resize: none;
}
.comment-form{
    margin-top: 7%;
    border-radius: 10%;
    border: 3px solid gray;
    display: none;
}

.Post_photo img{
   
    width: 1500px;
    height: 300px;
}

  /* RESPONSIVENESS BELOW
======================== */
@media only screen and(max-width:1000px){
   .comment_btn{
        width: 10em;
        font-size: 0.3em;
    }
}
@media only screen and(max-width:530px){
    .Post_title p{
        
        font-size: 1.3em;
    }
    .Date_pub_and_text .Post_txt p{
        font-size: 0.3em; 
    }
    .Post_photo_and_content .Post_photo{
        width: 50%;
    }
 }