.right_side {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 100vh;
    background-image: url(../assets/Background_photo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #464646;
}


.text_on_page{
    font-size: 3rem;
    color: white;
    margin-left: 4% ;
}

.hamburger_button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 3em;
    right: 4em;
    width: 2em;
    height: 3em;
  }
  .hamburger_button .bar {
  height: 0.6em;
  width: 4.7em;
  background-color:  #801843;
  border-radius: 10px;
  }

/* =========RESPONSIVENESS BELOW========= */

@media only screen and (max-width:1200px){
   
    .left1{
       margin-top: 0% !important;
    }
    .nav_links{
        display: none;
    }

    .hamburger_button{
        display: flex;
    }
    .t{
        display: flex;
    }
    .nav_links.active{
        display: flex;
    }
    .logo{
        display: flex;
    }
}
@media only screen and (max-width : 600px){
    .text_on_page{
        font-size: 2rem;
    }
}
@media only screen and (max-width:360px){  
    .right_side{
       margin-top: 20vw;
    }
}