
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    /* max-width: 980 px; */
    margin: 0 auto;
}

.left1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100vh;
    /* background-color: burlywood; */
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
    font-size: 4em;
	background: #F8F1F7;
	filter: drop-shadow(2px 0px 20px rgba(0, 0, 0, 0.27));
    padding: 1.5vw 0vw 3vw 0vw ;
/* margin: 0 auto; */
    
}
    .logo .fname{
        color: #801843;
        font-size: 90%;
	}
	.logo .lname{
		line-height: 1em;
		font-size: 65%;
		color: #801843;
		position: relative;
	}
	.logo .func{
		padding-bottom: 2em;
		font-size: 35%;
		color: #000000;
    }
    
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 750%;
    background: #F8F1F7;
    filter: drop-shadow(2px 0px 20px rgba(0, 0, 0, 0.27));
    padding: 100px 0px 100px 0px;
}
nav a{
    font-size: 1.9em;
    margin: 0 auto;
    /* width: 50%; */
    height: auto;
    text-decoration: none;
    color: black;

}
nav img{
    /* width: 25%; */
    height:  auto;;
    margin: 10px 0 0 0;
}

.right2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 80%;
    height: 100vh;
    background-image: url(../assets/Background_photo.png);
    background-repeat: no-repeat;
    background-repeat:no-repeat;
    -webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
background-position:center;
}
.right2 .text_on_page{
   font-size: 3.4em;
   color: white;
   margin-left: 4% ;
   /* margin-top: 2px;
   padding-top: 0px; */
}

.social_media_and_join_btn{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-items: flex-end;
    }
.social_media_and_join_btn ul {
    list-style: none;
    line-height: 6vw;
    margin-right: 20%;
}
.hamburger_button {

    display: none;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 3em;
    right: 4em;
    width: 2em;
    height: 3em;
  }
  .hamburger_button .bar {
  height: 0.6em;
  width: 4.7em;
  background-color:  #801843;
  border-radius: 10px;
  }


@media only screen and (max-width:1070px){
    .wrapper{
        display: flex;
        flex-direction: column;
    }
    .nav_links{
        display: none;
    }
    .left1{
        width: 100%;
        height: 30%;
    }
    .right2{
        width: 100%;
    }
    .hamburger_button{
        display: flex;
    }
    .t{
        display: flex;
    }
    .nav_links.active{
        display: flex;
    }
    .logo{
        display: flex;
        /* justify-content: flex-start; */
        /* margin-right: 50%; */
    }
}