
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
    height: 100vh;
}

.left1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 20%;
    height: 100vh;
    background-color: burlywood;
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
}

.logo{
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30%;
	background: #F8F1F7;
	filter: drop-shadow(2px 0px 20px rgba(0, 0, 0, 0.27));
    padding: 1.5vw 0vw 3vw 0vw ;
    text-decoration: orangered;
		
	}
    .logo .fname{
		line-height: 3vh;
		font-size: 3.1vw;
		color: #801843;
	}
	.logo .lname{
		line-height: 4.7vw;
		font-size: 2.1vw;
		color: #801843;
		position: relative;
	}
	.logo .func{
		line-height: 1vh;
		font-size: 1vw;
		color: #000000;
    }
    
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 750%;
    background: #F8F1F7;
    filter: drop-shadow(2px 0px 20px rgba(0, 0, 0, 0.27));
    padding: 100px 0px 100px 0px;
}
nav a{
    font-size: 1.4vw;
    margin: 0 auto;
    width: 50%;
    height: auto;
    text-decoration: orange;
    color: black;

}
nav img{
    width: 25%;
    height:  auto;;
    margin: 10px 0 0 0;
}

.right2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100vh;
    background-image: url(../assets/Background_photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.right2 .text_on_page{
   position: absolute;
   top: 20px;
   margin-left: 50px;
   font-size: 3.4vw;
   font-family:Poppins,"Sans Serif" ;
   color: white;
}

.social_media_and_join_btn{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    }
    .social_media_and_join_btn ul {
        list-style: none;
        line-height: 6vw;
    }