

 .Project{
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    width: 85%;
    box-shadow: 2px 2px 5px 2px gray;
    margin-top: 2%;
    margin-bottom: 2%;
}
h1{
    color: #801843;
}
.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 30px;
    padding: 50px;
    margin : 0px 300px; 
    border-bottom: 2px solid gray;
}
.date{
    font-weight: bold;
}
 p{
display: flex;
flex-wrap: wrap;
}