
.skills_container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-bottom: 30vh;
    /* margin: 0 auto; */
}
img{
    width: 80px;
    height: 80px;
}
.skills{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between;
    align-items: center; */
    width: 100%;
    border: 1px solid gray;
    border-bottom: 3px solid gray;
    /* margin: 20px; */
    box-shadow: 2px 2px 4px 2px lightgray;
}
.backendIcon, .frontendIcon, .otherskillsIcon{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 25%;
}